body {
  border-bottom-color: rgb(229, 231, 235);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgb(229, 231, 235);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(229, 231, 235);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(229, 231, 235);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  display: block;
  font-family: Outfit, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  height: 1580px;
  line-height: 24px;
  tab-size: 4;
  text-size-adjust: 100%;
  unicode-bidi: isolate;
}